# Build directories
build/
build_*/
dist/
node_modules/

# IDE and editor
.cache/
.vs/
__pycache__/
# Logs
*.log
*.txt

# Exceptions
public/downloads/miniaudio.h

# Keep CMakeLists.txt
!CMakeLists.txt
